.notification {
  position: absolute;
  width: 100%;
  min-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.8);
  color: white;

  transform: translate3d(0, -100%, 0);

  transition-duration: .3s;

  &.notification-in {
    transform: translate3d(0,0,0);
  }
}
